body {
  background-color: #f3e0e2;
  /* Full height */
  height: 100%;
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropbtn {
  background-color: #FF4B2B;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color  : #f1f1f1;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  background-color: #F1f1f1;
  padding: 12px 16px;
  min-width: 104px;
  text-decoration: none;
  display: block;
  border: none;
}

.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

button{
  background-color: #FF4B2B;
  color: #FFFFFF;
  padding: 7px 16px;
  display: block;
  border: none;
}

.btn btn-primary{
  background-color: #FF4B2B;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #222;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #555;
}

/* Current/active navbar link */
.active {
  background-color: #FF4B2B;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content button:hover {background-color: #ddd;}
