body {
  background-color: #f3e0e2;
  /* Full height */
  height: 100%;
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

button{
  background-color: #FF4B2B;
  color: #FFFFFF;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
